body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius:10px;
}